h4 Auditions
	div Turn Auditions on/off:
		#auditionSet
			-if (settings.auditionState === true){
			-	var onState = true;
			-	var offState = false;
			-} else {
			-	var onState = false;
			-	var offState = true;	
			-}
			input(name="audition",type="radio",class="auditionRadio",id="auditionState1",value="1",checked=onState)
			label(for="auditionState1") On
			input(name="auditionState2",type="radio",class="auditionRadio",id="auditionState2",value="0",checked=offState)
			label(for="auditionState2") Off
			div Select Active User:
				#userSet
					-var selected = false;
					each user, i in users
						.userSelection
							-selected = (settings.currentUser == user._id) ? true : false;
							img(src="#{user.image.thumb}")
							span #{user.name.first} #{user.name.last}
							input(name="user", type="radio", class="userRadio", id="user#{i}", value="#{user._id}", checked=selected)
h4 Main Stage Settings:
	div Turn Main Stage on/off;
		#mainStageSet
			-if (settings.mainState === true) {
			- var onState = true;
			- var offState = false;
			- } else {
			-	var onState = false;
			-	var offState = true;
			- }
			input(name="mainStage",type="radio",class="mainStageRadio",id="mainStageRadio1",value="1",checked=onState)
			label(for="mainStageRadio1") On
			input(name="mainStage",type="radio",class="mainStageRadio",id="mainStageRadio2",value="0",checked=offState)
			label(for="mainStageRadio2") Off
	div Video:
	input(type="text", id="videoUrl", value="#{settings.videoUrl}")
	button(id="videoCheck") Check
	#videoWrapper
	input(type="button", value="save video", id="videoSave")